{% extends "AppPubg/padre.html" %}

{% load static %}

{% block contenido1 %}

<div class="border-success d-flex align-items-center row">
    {% for equip in equipament %}
    <div class="card shadow m-2 d-flex align-items-center" style="width: 22rem;">
            <img src={{equip.image}} style="object-fit:cover ; height:200px ; width:200px ; " class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <p class="card-text" style="color: black">{{equip}}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}