{% extends "AppPubg/padre.html" %}

{% load static %}

{% block contenido1 %}

<div class="card border-success" style="width: 35rem;">
    <div class="card-header">
    <h3>
    <br>
    <span style="color: black"><u>JUGADORES</u></span>
    </h3>
    <br>
    </div>
    <ul class="list-group list-group-flush">
    {% for p in response.data %}
        <a href= {{p.profileurl}} target="_blank">PERFIL DE STEAM</a>
        <li class="list-group-item">{{p.personaname}}</li>
        <img src= {{p.avatarfull}} width="150" height="150">
    <br>
    {% endfor %}
    </ul>
</div>

{% endblock %}