{% extends "AppPubg/padre.html" %}

{% load static %}

{% block contenido1 %}

<div class="border-success d-flex align-items-center row">
    {% for player in response.data %}
    <div class="card shadow m-4 d-flex align-items-center" style="width: 10rem;">
            <img src={{player.avatarfull}} style="object-fit:cover ; height:150px ; width:155px ; " class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <p class="card-text" style="color: black"><u>{{player.personaname}}</u></p>
            <a href= {{player.profileurl}} target="_blank">PERFIL DE STEAM</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}