{% extends "AppPubg/padre.html" %}

{% load static %}

{% block contenido1 %}
{% if weapons %}
<ul style="list-style-type: none">
    {% for weapon in weapons %}
    <div class="card border-success" style="width: 20rem; color: black">
        <img src= {{weapon.image}}>
        <div class="card-body text-center">
        <h3 class="card-title">{{weapon.name}}</h3>
            <p class="card-text" >
            <li> <u>Tipo:</u> {{weapon.type}} </li>
            <li> <u>Calibre:</u> {{weapon.bullets}} mm. </li>  
            <li> <u>Daño Promedio:</u> {{weapon.damage}} </li>
            <li> <u>Cant. de accesorios:</u> {{weapon.attachment}} </li>  
            </p>
            
        <a href=" {% url 'Armas' %}" class="btn btn-primary"><u>VOLVER</u></a>
        </div>
    </div>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}