{% extends "AppPubg/padre.html" %}

{% load static %}

{% block contenido1 %}
{% if weapons %}
<ul style="list-style-type: none">
    {% for weapon in weapons %}
    <div class="card border-success" style="width: 20rem;">
        <img src= {{weapon.image}} class="card-img-top" alt="...">
        <div class="card-body text-center">
        <h3 class="card-title">{{weapon.name}}</h3>
            
            <p class="card-text">
            <li> Nombre: {{weapon.name}} </li>
            <li> Tipo: {{weapon.type}} </li>
            <li> Calibre: {{weapon.bullets}} mm. </li>  
            <li> Daño Promedio: {{weapon.damage}} </li>
            <li> Cant. de accesorios: {{weapon.attachment}} </li>  
            </p>
            
        <a href=" {% url 'Armas' %}" class="btn btn-primary">Volver</a>
        </div>
    </div>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}